*
{
    font-family: Montserrat;
    font-size: 16px;
}
.pocetna
{
background-color: #4E598C;
}
a,a:active
{
text-decoration: none;
color:#F4F4F4;
}
a:hover{
    background-color: #FCAF58;
    color:#4E598C;
}

#navigacija
{
display:flex;
justify-content:space-evenly;
list-style-type: none;
padding: 5px 5px 5px 5px;
}
.ovel{
    background-color: #F7FFF7;
}
#slika
{
    align-self: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.dno
{
    background-color:#9c9ca0 ;
    width: 80%;
    margin:auto;
    
}
.h
{
    font-size: 20px;
    color: #FCAF58;
   text-align: center;
   padding: 20px 20px 20px 20px;

}
.c
{
    width: 80%;
    margin:auto;
    background-color: #F7FFF7 ;
}
.flex
{
    display:flex;
    justify-content:space-evenly;
}
#ob
{
    width: 70%;
    margin:15px;
    background-color: #F7FFF7;
    text-align: left;
}
#link
{
    width: 30%;
    margin:15px;
    background-color: #4E598C;
    text-align: center;
}

.spa{
    background-color:#4E598C ;
    color: #F4F4F4;
    padding: 5px 5px 5px 5px;
    font-size: 10px;    
}
.i{
    color:#4E598C;
}
table,th,td{
    border: 1px solid;
   margin-left: 20%;
   margin-right: 20%;

}
th,td
{
    padding: 10px 10px 10px 10px;
}
thead{
    background-color:#4E598C ;
    color: #F7FFF7;
}
input,text
{
 width: 100%;
}
input[type="submit"]
{
 background-color:#4E598C ;
 color:#F4F4F4;
}
.lis{
    margin: 10px;
    font-weight: 300;
    font-size: 20px;
}
#veliki{
    word-break: break-word;
    padding-bottom: 200px;
}
#Gumb{
    background-color: #083D77;
	color: white;
    max-width: 1100px;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    display: block;
}

.sadrzaj{
   
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}
#slika
{
    align-self: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}




#obavjesti{
    width: 50%;
    background-color: #F7FFF7;
    align-self: self-start;
    font-family: Montserrat;
    font-size: 16px;
   
    padding: 10px;
}
.obavjestiP{
    margin: 10px;
     color:#4E598C ;
  }
  .obavjestiS{
      
      background-color: #4E598C;
      color:#F7FFF7 ;
      border-radius: 5px;
  }





#linkovi{
   
width: 30%;
    background-color: #4E598C;
    color:#F7FFF7 ;
    align-self: self-start;
    font-family: Montserrat;
    font-size: 16px;
    padding: 30px;
    text-align: center;
    
}
.link{
    color:#F7FFF7 ;
    display: flex;
    align-items: center;
}

.sadrzaj2{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2px;
    display: flexbox;
    justify-content: space-between;
    background-color:#F7FFF7 ;
    padding: 3px;
}

.text{
    display: flexbox;
    padding: 2px;
}


h3{
    color: #FCAF58;
    font-family: Montserrat;
}
h1{
    font-family: Montserrat;
    color: #4E598C;
}
table{
    border:double;
    border-color: #4E598C;
}
td{
    background-color:#F7FFF7 ;
    padding: 10px;
    border:double;
    border-color: #4E598C;
}
th{
    background-color: #4E598C;
    color:#F7FFF7 ;
    padding: 10px;
}
tr{
    padding: 5px;
}
#kontakt{
    display: block;
    
}
.kontakti{
    width: 100%;
    height: 15px;
    margin: 2px;
   
}
#poruka{
    width: 100%;
    height: 45px;
    margin: 2px;
}
button{
    width: 100%;
    height: 35px;
    background-color: #4E598C;
    color: #F7FFF7;
    border-radius: 5px;
}